{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<div class="py-5" style="background: linear-gradient(90deg, #98DB95 0%, #0D5F09 100%)">
    <div class="container mx-auto px-6 space-y-6">
        <h2 class="text-4xl font-bold mb-2 text-white">
            <span class="text-5xl">G&nbsp;</span>enetics of<br>&nbsp;&nbsp;&nbsp;&nbsp;<span
                class="text-5xl">L&nbsp;</span>atin<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                class="text-5xl">A&nbsp;</span>merican<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                class="text-5xl">D&nbsp;</span>iversity
        </h2>
        <h3 class="text-2xl mb-8 text-gray-200">
            Resources and tools to address the complexities of association and evolution in understudied and recently
            admixed populations.
        </h3>
    </div>
</div>
<div class="grid grid-cols-2 gap-2 py-10">
    <div class="flex flex-wrap justify-center">
        <a class="text-center" href="/visualize">
            <div class="text-1xl lg:text-2xl">
                Click Here To
            </div>
            <div class="text-2xl lg:text-4xl font-bold">
                Visualize our Cohorts
            </div>
        </a>
        <div class="flex flex-wrap justify-center py-5">
            <img src="../static/population_structure.jpg" alt="..." class="rounded w-3/5 h-auto align-middle border-none" />
        </div>
    </div>
    <div class="flex flex-wrap justify-center">
        <a class="text-center" href="/find-controls">
            <div class="text-1xl lg:text-2xl">
                Click Here To
            </div>
            <div class="text-2xl lg:text-4xl font-bold">
                Find a Control Cohort for your Association Study
            </div>
        </a>
        <div class="flex flex-wrap justify-center py-5">
            <img src="../static/match.png" alt="..." class="rounded w-3/5 h-auto align-middle border-none" />
        </div>
    </div>
</div>
{% endblock %}
